<h1>Welcome to Scrabble Score</h1>
<form action="/word">
  <div class="form-group">
     <label for="word">Give us a great scrabble word and we will give you its value!
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Scrabble</button>
</form>
